body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    background-color: #BBD6B8;
}
h1{
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
}
#input{
    padding: 30px;
    font-size: 40px;
}